{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Docker Bakery System | Add New Node</title>
      <link rel="stylesheet" href="/static/styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
      <div class="slide-controls">
               <input type="radio" name="slide" id="new_comp" checked>
               <input type="radio" name="slide" id="new_img">
               <label for="new_comp" class="slide new_comp">Component</label>
               <label for="new_img" class="slide new_img">Image</label>
               <div class="slider-tab"></div>
            </div>
          {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
         <div class="title-text">
            <div class="title new_comp">
               Add Component
            </div>
            <div class="title new_img">
               Add New Image
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
               <form method="POST" class="new_comp">
                   {% csrf_token %}
{#                   if user wants to add new component#}
                   <input type="hidden" name="source_type" value="component">
                   <div class="field">
                     <input type="number" name="parent" value="{{parent_id}}" readonly>
                  </div>
                   <div class="field">
                     <input type="text" placeholder="Repository Name" name="repo_name" required>
                  </div>
                   <div class="field">
                     <input type="text" placeholder="Component Name" name="comp_name" required>
                  </div>
                   <div class="field">
                     <input type="text" placeholder="Tag" name="Tag" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Add Component">
                  </div>
               </form>

               <form method="post" class="new_img">
                   {% csrf_token %}
{#                   if user just wants to store his image#}
                   <input type="hidden" name="source_type" value="no_component">
                   <div class="field">
                     <input type="number" name="parent" value="{{ parent_id }}" readonly>
                  </div>
                  <div class="field">
                     <input type="text" placeholder="Image Name" name="img_name" required>
                  </div>
                   <div class="field">
                     <input type="text" placeholder="Tag" name="Tag" required>
                  </div>
                   <div class="field">
{#                     <input type="text" placeholder="Dockerfile Path" name="dockerfile_local_path" required>#}
                       <textarea name="Dockerfile" rows="2" cols="55"></textarea>
                  </div>
                   <div class="field">
{#                     <input type="text" placeholder="Requirements Path" name="requirements_local_path">#}
                       <textarea name="Requirements" rows="2" cols="55"></textarea>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Add Image">
                  </div>
               </form>
            </div>
         </div>
      </div>

      <script>
         const new_compText = document.querySelector(".title-text .new_comp");
         const new_compForm = document.querySelector("form.new_comp");
         const new_compBtn = document.querySelector("label.new_comp");
         const new_imgBtn = document.querySelector("label.new_img");
         const new_imgLink = document.querySelector("form .new_img-link a");
         new_imgBtn.onclick = (()=>{
           new_compForm.style.marginLeft = "-50%";
           new_compText.style.marginLeft = "-50%";
         });
         new_compBtn.onclick = (()=>{
           new_compForm.style.marginLeft = "0%";
           new_compText.style.marginLeft = "0%";
         });
         new_imgLink.onclick = (()=>{
           new_imgBtn.click();
           return false;
         });
      </script>
   </body>
</html>