{% load static %}

<!DOCTYPE html>
<html lang='en' class=''>

<head>

  <meta charset='UTF-8'>
  <title>Visualizer</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
<link rel="stylesheet" href="/static/index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-light bg-light justify-content-between">
  <form class="form-inline mx-auto" method="post" action="/manual_sync">
      {% csrf_token %}
      <input type="hidden" name="sync_type" value="sync_by_img_name">
    <input class="form-control mr-sm-4" type="text" placeholder="Image Name" name="img_name">
      <div class="form-check mr-sm-3">
      <input class="form-check-input" type="radio" name="sync_type" value=0>
      <label class="form-check-label">
        Upgrade Image
      </label>
     </div>
     <div class="form-check mr-sm-3">
      <input class="form-check-input" type="radio" name="sync_type" value=1 checked>
      <label class="form-check-label">
        Update Image
      </label>
    </div>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sync</button>
  </form>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <div class="treeview js-treeview">
  <ul>

  </ul>
</div>
</div>

<template id="levelMarkup">
    <li>
      <div class="treeview__level" data-level="A" onclick = 'hideChildren(event)'>
        <span class="level-title">Level A</span>
        <div class="treeview__level-btns">
          <div class="btn btn-default btn-sm level-add"><span class="fa fa-ellipsis-v"></span></div>
          <div class="btn btn-default btn-sm level-remove"><span class="fa fa-trash text-danger"></span></div>
          <div class="btn btn-default btn-sm update-node"><span>Add Same Level</span></div>
          <div class="btn btn-default btn-sm add-child"><span>Add Sub Level</span></div>
            <div class="btn btn-default btn-sm upgrade-node"><span>Upgrade Node</span></div>
            <div class="btn btn-default btn-sm edit-node"><span>Edit Node</span></div>
        </div>
      </div>
      <ul>
      </ul>
</li>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'script1.js' %}"></script>
  <script  src="{% static 'script.js' %}" crossorigin></script>
</body>
</html>